// colors
$sorme: #3c557a;
$lightSorme: #6b798c;
$gray: #c9c6c6;
$lightGray: #a1a8c3;
$darkGray:#5e5873;
$tabelTextGray:#625f6e;
$blue: #2aafbe;
$green:#3ecbae;
$lightGreen: #21c08533;
$black: #000000;
$red: #FC4A56;
$orange: #fc6e10;
$yellow: #fcd110;
$bgWhite: #fffdfd;
$white: #FFFFFF;
$darkWhite: #F3F3F3;
  