// colors
$indigo: #1301bd;
$navyBlue: #3f6193;
$gray: #c9c6c6;
$lightGray: #f3f3f3;
$darkGray:#5d5c60;
$blue: #3062da;
$lightOlive: #bfc720;
$green:#1c8d0f;
$lightGreen:#3ecd5e;
$black: #000000;
$red: #FC4A56;
$orange: #fc6e10;
$yellow: #e9cc0e;
$bgWhite: #fffdfd;
$white: #FFFFFF;
$darkWhite: #e1dfdf;
$disabled:#f7f8fa;
$purple: #7933b9;
$lightPurple: #646c9a;
$hotPink: #ff0099;
$lightBlue: #c2ceeb;
$modalText: #6a6973
