$gray: #c9c6c6;
$blue: #3062da;
$black: #000000;
$darkGray: #575555;
$red: #FC4A56;
$bgWhite: #fffdfd;
$white: #FFFFFF;
$disabled:#f7f8fa;
$purple: #7933b9;
$lightPurple: #646c9a;
$hotPink: #ff0099;
$lightBlue: #ebf1ff;
