.input-icon{
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-bottom : 15px;
  &-label{
    font-size: 14px;
    margin-bottom: 5px;
    color: #646c9a;
  }

  &-container {
    display: flex;
    width: 100%;
    position:relative;
    margin:  0 auto;
    margin-bottom: 5px;
    .icon {
      
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.65rem 1rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    background-color: #f7f8fa;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    border-top-left-radius: 0;
      border-bottom-left-radius: 0;
     }
     .input{
      background: $white;
      width: 100%;
      color: #646c9a;
      outline: unset;
      text-align: right;
      height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
      &:focus {
        outline: none;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
      }
      &:hover {
        outline: none;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        transition-duration: 1s;
      }
     }
     svg{
      fill: $lightGray !important;
    }
    
  }
  &-error{
    font-size: 12px;
    color: $red;

  }
}
